/* all elements have no padding or margin by default */
* {
    padding: 0;
    margin: 0;
}

.cell {
    box-sizing: border-box;
    width: 40px; 
    height: 40px; 
    margin: 0px; 
    background-color: rgba(0, 0, 0, 0); 
}

main {
    /* display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  */
    margin: 0;
}

.row {
    display: flex; 
    flex-direction: row; 
}

.wall {
    background-color: black;
}

.openSpace {
    background-color: crimson; 
}



#player {
    position: absolute;
    box-sizing: border-box; 
    width: 40px; 
    height: 40px; 

    
}